<footer class="text-center">
  <p *ngIf="step !== 3" class="mb-4">
    Your account will be opened immediately after the confirmation by
    authorization code and is immediately ready for use. If in doubt, please
    contact the advisor via Citiphone
  </p>

  <button
    type="button"
    class="btn btn-lg btn-primary submit"
    [disabled]="disabled"
    (click)="handleNext()"
  >
    {{ nextButtonText }}
  </button>

  <div class="cancel" (click)="handleCancel()">
    <span role="button">Cancel</span>
  </div>

  <div *ngIf="succeed" class="alert alert-success mt-5" role="alert">
    Submit Succeed
  </div>
</footer>
